body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    width: 100%;
  }
  
  h2 {
    margin-top: 40px;
    text-align: center;
    width: 100%;
  }
  
  label {
    display: block;
    width: 100%;
  }
  
  input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    margin: 0 auto 10px;
  }
  
  button, input[type="number"] {
    max-width: 400px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .button-clear {
    background-color: #f44336;
  }
  
  .button-clear:hover {
    background-color: #d32f2f;
  }
  
  p {
    text-align: center;
    width: 100%;
  }
  